:root{
  --main-color:#06c;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 3px;
}


.color0-0 { fill: #d6e685 }
.color0-1 { fill: #44a340 }
.color0-2 { fill: #28752d }
.color0-3 { fill: #1e6823 }
.color0-4 { fill: #365e2f }
.color0-5 { fill: #144e12 }

.color1-0 { fill: rgb(254, 229, 217)}
.color1-1 { fill: rgb(252, 187, 161)}
.color1-2 { fill: rgb(252, 146, 114)}
.color1-3 { fill: rgb(251, 106, 74)}
.color1-4 { fill: rgb(222, 45, 38)}
.color1-5 { fill: rgb(165, 15, 21)}

.color2-0 { fill: rgb(255, 255, 204)}
.color2-1 { fill: rgb(199, 233, 180)}
.color2-2 { fill: rgb(127, 205, 187)}
.color2-3 { fill: rgb(65, 182, 196)}
.color2-4 { fill: rgb(44, 127, 184)}
.color2-5 { fill: rgb(37, 52, 148)}

.color3-0 { fill: rgb(237, 248, 251)}
.color3-1 { fill: rgb(191, 211, 230)}
.color3-2 { fill: rgb(158, 188, 218)}
.color3-3 { fill: rgb(140, 150, 198)}
.color3-4 { fill: rgb(136, 86, 167)}
.color3-5 { fill: rgb(129, 15, 124)}

.color4-0 { fill: rgb(255, 255, 212)}
.color4-1 { fill: rgb(254, 227, 145)}
.color4-2 { fill: rgb(254, 196, 79)}
.color4-3 { fill: rgb(254, 153, 41)}
.color4-4 { fill: rgb(217, 95, 14)}
.color4-5 { fill: rgb(153, 52, 4)}

.hidden { display: none; }

.custom-title { margin-top: 200px; }

.custom-input-group {
  width: 500px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.results {
  /*width: 1100px;*/
  display: block;
  height: 50%;
  width: 100%;
  /*margin-top: 100px;*/
  margin: 0 auto;
}

.center {
  text-align: center;
  display: inherit;
}

.checkbox {
  margin-top: 5px;
}

.github-stars {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  width: 110px;
  height: 20px;
}

#headline{
    text-align: center;
    margin-top: 1em;
    width: 30%;
}

#top-part{
  width: 100%;
  height: 20%;
}

#headline h3{
    color:#777;
    margin-left:20%;
    margin-right:20%;
    font-style: italic;
}

#slider{
    text-align: center;
    margin-top: 1em;
    width:50%;
}

.text-month{
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.text-year{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.text-stack-year{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.text-category{
    font-size: 16px;
    fill:black;
}





#date-selecter{
  display: block;
  margin-left: 5%;
  margin-top: 10px;
    width: 45%;
}




.d3-tip{    /*提示框的样式*/
  display: flex;
  flex-direction: column;
  position: absolute;   /*不可缺少*/
  line-height: 1;
  font-weight: bold;
  padding:12px;
  background-color: antiquewhite;
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after{
  box-sizing: border-box;
  display: inline;;
  font-size: 10px;
  width:100%;
  line-height: 1;
  color:  antiquewhite;
  content:'\25BC';
  position: absolute;   /*不可缺少*/
  text-align: center;
  top: 38px;
  left: -1px;
}

.d3-tip.n:after{
  margin: -1px 0 0 0;
  top: 100%;
  left:0;
}



#record-list{
  width: 100%;
  display: block;
  margin-left: 4%;
}